<a href="/search" style="float: right;">Search</a>
<form method="post" action="/">
    <select name="order_option">
        <option value="">Order By</option>
        <option value="rating">Highest Rating</option>
        <option value="author">Author (Z-A)</option>
        <option value="name">Book's name (Z-A)</option>
    </select>
    <input type="submit" value="Sort">
</form>
<form method="post" action="/">
    <input type="hidden" name="show_all" value="true">
    <input type="submit" value="{{ 'Hide' if session.get('show_all', False) else 'Show All' }}">
</form>
</form>
<hr>
{% for message in messages %}
    <table>
        <thead>
            <tr>
                <th style="width: 5%;"><i>Reviewer:</i></th>
                <th style="width: 10%;"><i>The Book:</i></th>
                <th style="width: 10%;"><i>The Author:</i></th>
                <th style="width: 5%;"><i>Rating:</i></th>
                <th style="text-align: left; padding-left: 20px;"><i>Review:</i></th>
                <th style="width: 10%;"><i>Time:</i></th>
                <th style="width: 5%;"><i></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ message[0] }}</td>
                <td>{{ message[3] }}</td>
                <td>{{ message[2] }}</td>
                <td>{{ message[1] }}</td>
                <td style="padding-left: 20px;">{{ message[4] }}</td>
                <td>{{ message[5].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td> 
                    {% if session.user_id == message[6] or session.get('user_role') == 0%}
                        <form method="post" action="/delete/{{ message[7] }}">
                            <input type="submit" value="Delete">
                        </form>
                    {% endif %}
            </tr>
        </tbody>
    </table>
<hr>
{% endfor %}
{% if session.user_id %}
You are logged in.
{% else %}
<a href="/login">Login</a>
{% endif %}
<a href="/new">Send a new review.</a>
{% if session.user_id %}
<a href="/logout">Logout</a>
{% endif %}
